[submodule "plugins/AclExtras"]
	path = plugins/AclExtras
	url = https://github.com/markstory/acl_extras.git
[submodule "plugins/Search"]
	path = plugins/Search
	url = https://github.com/CakeDC/search.git
[submodule "plugins/Authenticate"]
	path = plugins/Authenticate
	url = git://github.com/FriendsOfCake/Authenticate.git
[submodule "chef"]
	path = chef
	url = https://github.com/gpedote/fateca-chef.git
[submodule "plugins/Mongodb"]
	path = plugins/Mongodb
	url = https://github.com/ichikaway/cakephp-mongodb.git
