/* navbar fixed to top requirement*/
body { padding-top: 70px; }

/* semi-transparent navbar */
.navbar {
  background-color: #f8f8f8;
  background-color: rgba(248, 248, 248, 0.9);
}

.footer {
  position: relative;
  height: 70px;
  clear:both;
  padding-top:10px;
  text-align: center;
  padding: 30px 0;
  margin-top: -70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
@media (max-width: 767px)
.footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
html, body {
  height: 100%;
}
#main-container {
  min-height: 100%;
}
#content {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

#busy-indicator { display:none; }
#busy-indicator {
  height: 32px;
  width: 32px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
  z-index: 1000;
}

.hidden{ display: none; }

.form-inline { padding-bottom: 10px; }

.table-responsive { padding-top: 10px; }

